<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
</head>
<body>
    <h2>URL Shortener </h2>
    <h2>
        Date: {[{.now | formatAsDate}]}
    </h2>
    <form method="post" action="/url">
        <input type="url" name="Full" placeholder="Enter a URL" required>
        <input type="submit" value="Shorten">
    </form>
</body>
</html>